---
import BaseLayout from "../layouts/BaseLayout.astro"
import ProductsList from "../components/ProductsList.astro"
---

<BaseLayout title="drerries">
	<p>halloo fakka's</p>
	<ProductsList/>
</BaseLayout>

